%YAML 1.1
---
# CPAC Pipeline Configuration YAML file
# Version 1.8.4.dev
#
# http://fcp-indi.github.io for more info.
#
# Tip: This file can be edited manually with a text editor for quick modifications.

FROM: fmriprep-options


pipeline_setup: 
  # Name for this pipeline configuration - useful for identification.
  pipeline_name: cpac_fx-options

  output_directory:

    # Quality control outputs
    quality_control:

      # Generate eXtensible Connectivity Pipeline-style quality control files
      generate_xcpqc_files: On

nuisance_corrections: 
  2-nuisance_regression: 
    # this is a fork point
    #   run: [On, Off] - this will run both and fork the pipeline
    run: [On]

    # switch to Off if nuisance regression is off and you don't want to write out the regressors
    create_regressors: On

    # Select which nuisance signal corrections to apply
    Regressors:
      - Name: Regressor-1
        Bandpass:
          bottom_frequency: 0.01
          top_frequency: 0.08
        CerebrospinalFluid:
          erode_mask: false
          extraction_resolution: 2
          include_delayed: true
          include_delayed_squared: true
          include_squared: true
          summary: Mean
        GlobalSignal:
          include_delayed: true
          include_delayed_squared: true
          include_squared: true
          summary: Mean
        Motion:
          include_delayed: true
          include_delayed_squared: true
          include_squared: true
        WhiteMatter:
          erode_mask: false
          extraction_resolution: 2
          include_delayed: true
          include_delayed_squared: true
          include_squared: true
          summary: Mean
        PolyOrt: 
          degree: 2

    # Standard Lateral Ventricles Binary Mask
    # used in CSF mask refinement for CSF signal-related regressions
    lateral_ventricles_mask: 
    # Process and refine masks used to produce regressors and time series for
    # regression.
    regressor_masks: 
      erode_anatomical_brain_mask: 
        # Erode binarized anatomical brain mask. If choosing True, please also set seg_csf_use_erosion: True; regOption: niworkflows-ants.
        run: On

      erode_csf: 
        # Erode binarized csf tissue mask.
        run: On

      erode_wm: 
        # Erode WM binarized tissue mask.
        run: On

