*.py[co]

# Packages
*.egg
*.egg-info
*.pyc
*.so
*.c
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
.env*

# Installer logs
pip-log.txt

# Unit test / coverage reports
bids-examples
.coverage
.tox

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

# CPAC Specific
/doc/_build

# Eclipse project files
.project
.pydevproject

# Other project files
.idea/*.xml

# Transpiling and compiling
*.c
*.so


 .vscode/launch.json
 .vscode/settings.json

cpac_runs/

.DS_Store