cython
numpy
scipy
nilearn
matplotlib
networkx==1.11
traits
pyyaml
jinja2==2.7.2
nose
pandas
lockfile
pygraphviz
nibabel
nipype==0.13.1
patsy
psutil
boto3
INDI-Tools
future==0.15.2
prov
simplejson
fs==0.5.4