boto3
click
configparser
cython
future
git+git://github.com/shnizzedy/INDI-Tools.git@3a7b80558bd866bf57e2d911f75aeb8bd62b2723
lockfile
matplotlib
networkx
nibabel
nilearn
nipype
nose
numpy
pandas
patsy
prov
psutil
python-dateutil
pyyaml
requests
scipy
simplejson
scikit-learn
traits
PyBASC
pathlib
