boto3
click
configparser
cython
future
INDI-Tools
lockfile
matplotlib
networkx
nibabel
nilearn
nipype
nose
numpy
pandas
patsy
prov
psutil
python-dateutil
pyyaml
requests
scipy
simplejson
scikit-learn
traits
PyBASC
pathlib
