boto3
ciftify
click
configparser
future
INDI-Tools @ git+https://git@github.com/FCP-INDI/INDI-Tools.git@998c246c597209f06f8d5c5b92ddc2c9c1942f46
joblib
lockfile
matplotlib
networkx
nibabel
nilearn
nipype
nose
numpy
pandas
pathvalidate
patsy
prov
psutil
PyBASC
pybids
PyPEER @ git+https://git@github.com/ChildMindInstitute/PyPEER.git@6965d2b2bea0fef824e885fec33a8e0e6bd50a97
python-dateutil
PyYAML
requests
scikit-learn
scipy
sdcflows
torch
torchvision
traits
voluptuous